<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RIFS</title>
    <link type="text/css" href="/css/style.css" rel="Stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:include="fragments/elements :: header-logo" th:remove="tag"/>
<div th:include="fragments/elements :: guidance" th:remove="tag"/>

<div id="middleframe">
    <a href="" onclick="history.go(-1);" >&lt; Back </a>

    <h2 style="color:grey;" th:text="${opportunity.title}"/>
    <h1>Application overview</h1>
    <h3>Complete all sections before submitting. </h3>

    <div class="oppoverviewtextleft"><b>Event details</b></div>    <div class="oppoverviewtextright"><b>Status</b></div>
    <hr/>
             <span  th:each="section,iterStat : ${app.sections}" >
                <div class="oppoverviewtextleft">  <span th:text="${iterStat.index+1} "/>.  <span th:text="${section.title}"/> </div>    <div class="oppoverviewtextright"><b>Not started</b></div>
                <hr/>
            </span>


    <p><div id="submitapplicationbutton"  width="190"><a th:href="@{'/opportunityApplicationoverview/' + ${opportunity.id}}" >Submit application to RIFS </a> </div> </p>
    <br/>
    <div id="bottomsection"/>
    <div id="bottomtopborder"/>

</div>

</body>
</html>