<!-- ===========================Element: Header logo =========================== -->

<div th:fragment="header-logo">
    <div id="overlapframe" >.</div>
    <div id="topframe" >
    <div class="header-logo">
        <p>  <img src="/images/u20.png" />    &nbsp;

        <!--<a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">

             <img src="/images/gov.uk_logotype_crown.png" th:src="${@mvcResourceUrlProvider.getForLookupPath('/images/gov.uk_logotype_crown.png')}" width="35" height="31" alt="" />
            GOV.UK
        </a> -->
        Research and Innovation Funding Service</p>
    </div>
    </div>
</div>
