<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<!-- ===========================Element: Header =========================== -->

<div th:fragment="header-logo">
    <div id="overlapframe" >.</div>
    <div id="topframe" >
        <p>  <img src="/images/u20.png" align="top" />  &nbsp;&nbsp;&nbsp;
        Research and Innovation Funding Service</p>
    </div>
</div>

<!-- ===========================Element: Header ends =========================== -->

<!-- ===========================Element: Guidance frame =========================== -->

<div th:fragment="guidance">
    <div id="guidanceframe" >
        <p><b>Supporting information</b></p>
        <!--<p><a th:href="@{'/opportunitydddd/' +  (${opportunity == null}) ? ${id}  : ${opportunity.id} }" >Guidance on seminars zzzz</a></p> -->
        <p><a href="/guidance" >Guidance on seminars</a></p>
    </div>
    <div id="guidanceframetopline" />
</div>

<!-- ===========================Element: Guidance frame ends=========================== -->

</html>
