<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RIFS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1 th:text="${opportunity.title}" />

<h1>Application overview</h1>
<p>
Complete all sections before submitting.
</p>


<p>
<p th:text="'The start date is ' + ${opportunity.startDate}" />
</p>

<p>
<p th:text="'The value unit is ' + ${opportunity.value.unit}" />
<p th:text="'The value amount is ' + ${opportunity.value.amount}" />
</p>



</body>
</html>
