<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" href="/css/style.css" rel="Stylesheet" />
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:include="fragments/elements :: header-logo" th:remove="tag" />

<div id="middleframe" >

<h1>Exploring innovation seminars</h1>
<p>
3. Assessment criteria
2. What we will ask you
1. About this opportunity
</p>

<p>
    <a href="opportunitydescription">Make an application</a>
</p>
    </div>
</body>
</html>