<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RIFS</title>
    <link type="text/css" href="/css/style.css" rel="Stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:include="fragments/elements :: header-logo" th:remove="tag"/>

<div id="middleframe">
    <p>
        <h1> What is your role?</h1>
        <h2>Choose a role to start your journey </h2>
    </p>
    <h4>
        <a href="opportunitylist"> I am an applicant</a>
    </h4>
    <h4>
        I am a portfolio manager
    </h4>

    <br/><br/><br/>
    <div id="bottomsection"/>
    <div id="bottomtopborder"/>

</div>

</body>
</html>
