<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RIFS</title>
    <link type="text/css" href="/css/style.css" rel="Stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:include="fragments/elements :: header-logo" th:remove="tag"/>

<div id="middleframe">
    <h1>Open opportunities</h1>
    <h2>Links to all open opportunities in RIFS</h2>
    <br/> <h2>Opportunity title</h2>
    <hr/>
    <div id="opplist">
        <div th:each="opportunity,iterStat : ${opportunityList}" >
            <p>
                <a th:href="@{'/opportunitydetails/' + ${opportunity.id} }">
                <span th:text="${iterStat.index+1} "/>. <span th:text="${opportunity.title}"/>
                </a>
            </p>
            <hr/>
        </div>
    </div>

    <br/>
    <div id="bottomsection"/>
    <div id="bottomtopborder"/>

    <a href="opportunityApplicationoverview/1">Exploring innovation seminars</a>
</div>
<br/>
</body>
</html>