<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RIFS</title>
    <link type="text/css" href="/css/style.css" rel="Stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:include="fragments/elements :: header-logo" th:remove="tag"/>

<div id="middleframe">
    <a href="../opportunitylist">&lt; Return to opportunity list </a>

    <div id="oppheading" th:text="${opportunity.title}"/>

        <div th:each="description,iterStat : ${opportunity.description}" >
            <p>
                <a href="../opportunitydescription/1">
                    <span th:text="${iterStat.index+1} "/>. <span th:text="${description.title}"/>
                </a>
            </p>
       </div>

</div>

</body>
</html>